body {
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header {
    /* background-color: #2557cc; */
    background-color: #000;
    height: 105px;
    color: white;
}

.container h1 {
    margin-top: 40px;
}

#navbar {
    background-color: #333;
    color: #fff;
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
    padding-right: 25px;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#navbar a:hover {
    color: red;
}

#navbar-alt {
    display: none;
}

.my-form {
    padding: 0px;
    /*background-color: #2557cc;*/
    color: #000;
    margin-right: 33%;
    margin-left: 190px;
}

.my-form .form-group {
    padding-bottom: 15px;
    
}

.my-form label {
    display: block;
}

.my-form input[type="text"], .my-form textarea {
    padding: 10px;
    width: 450px;
    border-radius: 10px;
    background-color: #fff;
    border-color: red;
}

.my-form .button {
    background-color: #000;
    color: #fff;
}

.my-form .button:hover {
    background-color: red;
}

.block {
    margin-left: 175px;
    margin-right: 33%;
    padding: 15px;
}

.instagramIcon {
    background-image: url("images/instagram.png");
    position: fixed;
    margin-left: -5px;
    margin-top: 170px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.instagramIcon:hover {
    background-image: url("images/instagramAlternate.png");
}

/* FOOTER */
#footer {
    /* background-color: #2557cc; */
    background-color: #000;
    color: #fff;
    height: 330px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 30px;
}

.footer-title {
    padding-top: 30px;
}

.copyright-footer {
    text-align: center;
}

#footer hr {
    margin-right: 30px;
}

#footer a:hover {
    /* background-color: red; */
    border-radius: 10000px; 
}

.footer-text {
    margin-left: -1340px;
    text-align: center;
}

.first-column-links {
    position: absolute;
    margin-left: 350px;
    margin-top: -124px;
}

.first-column-links a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.first-column-links a:hover {
    color: red;
}

.second-column-links {
    position: absolute;
    margin-top: -136px;
    margin-left: 600px;
}

.second-column-links a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.second-column-links a:hover {
    color: red;
}

.footer-quote {
    font-size: 23px;
    position: absolute;
    margin-left: 880px;
    margin-top: -160px;
}


.instagramIconFooter {
    background-image: url("images/instagramIcon.png");
    width: 48px;
    height: 48px;
    position: absolute;
    margin-left: 645px;
}

.instagramIconFooter:hover {
    background-image: url("images/instagramIcon.png"), linear-gradient(#405DE6, #FFDC80);
}

.twitterIconFooter {
    position: absolute;
    background-image: url("images/twitterIcon.png");
    width: 48px;
    height: 48px;
    margin-left: 695px;
}

.twitterIconFooter:hover {
    background-color: #00acee;
}

.linkedinIconFooter {
    position: absolute;
    background-image: url("images/linkedinIcon.png");
    width: 48px;
    height: 48px;
    margin-left: 745px;
}

.linkedinIconFooter:hover {
    background-color: #0A66C2;
}

.facebookIconFooter {
    position: absolute;
    background-image: url("images/facebookIcon.png");
    width: 48px;
    height: 48px;
    margin-left: 795px;
}

.facebookIconFooter:hover {
    background-color: #4267B2;
}

.website-design, .program-building {
    margin-left: 135px;
    margin-right: 40%;
    padding: 15px;
}

.services-block h4 {
    margin-right: -55%;
    text-align: center;
}

.web-design-img-and-button {
    position: absolute;
    top: 40%;
    right: 5%;
    /*float: right;*/
    text-align: center;
}

.website-image {
    /*position: absolute;
    margin-left: 820px;
    margin-top: -300px;*/
    width: 475px;
    height: 220px;
}

.website-design-image-link {
    /*position: absolute;
    margin-left: 995px;
    margin-top: -70px;*/
    color: #000;
}

.website-design-image-link:hover {
    /* color: #2557cc; */
    color: red;
}

.purchase-website-design {
    background-color: #000;
    padding: 4px;
    color: white;
}

.website-design a {
    font-size: 18px;
    text-decoration: none;
}

.purchase-website-design:hover, .purchase-program-design:hover {
    /* background-color: #2557cc; */
    background-color: red;
}

.program-image {
    /*position: absolute;*/
    width: 480px;
    height: 259.5px;
    /*margin-left: 820px;
    margin-top: -350px;*/
    position: absolute;
    top: 130%;
    right: 5%;
}

.purchase-program-design {
    background-color: #000;
    padding: 4px;
    color: white;
}

.program-building a {
    font-size: 18px;
    text-decoration: none;
}

.unadequate-service {
    text-align: center;
    margin: 15px 15%;
}

/*
.button:click {
    .my-form input[type="text"], .my-form textarea {
        
    }
}
*/


.developer-text {
    padding-top: 15px;
    margin-left: 150px;
    margin-right: 20%;
}

.developer-text a {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 5px;
}

.developer-text a:hover {
    background-color: red;
}

/* Scaling Downwards */
@media screen and (max-width: 800px){
    #navbar {
        display:none;
    }
    #navbar-alt {
        display: contents;
    }
    #footer {
        display: none;
    }
}

/* Scaling upwards */
@media screen and (min-width: 1920px) {
    .web-design-img-and-button {
        top: 33%;
    }
    .program-image {
        top: 95%;
    }
}